## Permissions ##
add_ace group.admin command allow # allow all commands

add_principal resource.pulsar-core group.admin

## Permission Types ##
# management
# dev
# admin
# operations

## Steam ID Permissions ##
# add_principal identifier.steam:REPLACE_WITH_STEAM_ID group.admin # Your Name
# add_ace identifier.steam:REPLACE_WITH_STEAM_ID queue.management allow # Your Name

# Fear
add_principal identifier.steam:11000013577a593 group.admin # Fear
add_ace identifier.steam:11000013577a593 queue.management allow # Fear

